body {
  background-image: url('../images/star-wars-background.jpg');
  z-index: 1;
}

h1 {
  color: white;
  font-size: 65px;
}

span {
  display: block;
  margin: 20px 30px;
  text-align: center;
  z-index: 2;
}

.input_search {
  border-radius: 5px;
  display: block;
  font-size: 25px;
  margin: 10px auto;
  width: 400px;
  z-index: 2;
}

.input_column, .input_comparison {
  border-radius: 10px;
  display: inline-block;
  font-size: 22px;
  height: 30px;
  margin: 10px;
  width: 150px;
  z-index: 2;
}

.input_value {
  border-radius: 10px;
  display: block;
  font-size: 22px;
  height: 30px;
  margin: 5px auto;
  width: 150px;
  z-index: 2;
}

.btn_filter {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin: 20px;
  width: 150px;
  z-index: 2;
}

.history_search {
  color: white;
  cursor: pointer;
  font-size: 40px;
  z-index: 2;
}
